head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(href="../styles/bootstrap.min.css", rel="stylesheet")
    link(href="../styles/bootstrap-grid.min.css", rel="stylesheet")
    link(href="../styles/bootstrap-reboot.min.css", rel="stylesheet")
    //link(href="../styles/Site.css", rel="stylesheet") baja el nav, se debe de quitar coño
    script(src="../js/additional-methods.min.js" text='javascript')
    script(src="../js/bootstrap.bundle.min.js" text='javascript')
    script(src="../js/bootstrap.min.js" text='javascript')
    script(src="../js/dataTables.bootstrap.min.js" text='javascript')
    script(src="../js/dataTables.bootstrap4.min.js" text='javascript')
    script(src="../js/jquery-3.3.1.intellisense.js" text='javascript')
    script(src="../js/jquery-3.3.1.min.js" text='javascript')
    script(src="../js/jquery.validate.min.js" text='javascript')
    script(src="../js/popper.min.js" text='javascript')
    script(src="../js/respond.matchmedia.addListener.min.js" text='javascript')
    script(src="../js/respond.min.js" text='javascript')