nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href="javascript: void(0)") Iniciar sesión
    button.navbar-toggler(type="button" data-toggle="collapse" datatarget="#navbarSupportedContent" aria-controls="navbarSupportedContent" ariaexpanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href="#")
                    span | Registro de nuevo miembro |
            li.nav-item
                a.nav-link(href="#")
                    span Ver progresos  |
br