.container
    .row
        .col-sm-12
            .card
                .card-body
                    h5.card-tittle Revisión de progreso
                    br
                    .row
                        .col-sm-6
                            .card.bg-info.text-white
                                .card-body
                                    h5.card-tittle Miembro
                                    table.table
                                        tr
                                            td 
                                                b Nombres: 
                                            td Juan José
                                        tr
                                            td 
                                                b Categoría: 
                                            td Intermedio
                                        tr
                                            td 
                                                b Actual nivel: 
                                            td 1
                        .col-sm-6
                            .card
                                .card-body
                                    h5.card-tittle Logros
                                    table.table
                                        tr
                                            td
                                                b Próximo nivel: 
                                            td 2
                                        tr
                                            td
                                                b Actual colaboradores : 
                                            td 4
                                        tr
                                            td
                                                h4 Dinero ganado: 
                                            td 
                                                h3 S/ 350