.container
    .row
        .offset-md-4.offset-lg-3.col-sm-12.col-md-4.col-lg-6
            .card.bg-light
                .card-body
                    h5.card-tittle.text-center Registro de nuevo miembro
                    .form-group
                        label Nombre(s)
                        input.form-control(type="text" placeholder="Ingrese su nombre(s)")
                    .form-group
                        label Apellidos
                        input.form-control(type="text" placeholder="Ingrese sus apellidos")
                    .form-group
                        label Documento de identidad
                        input.form-control(type="text" placeholder="Ingrese su DNI o pasaporte")
                    .form-group
                        label Correo electrónico
                        input.form-control(type="email" placeholder="Ingrese su correo electrónico")
                    .form-group
                        label Nombre del banco
                        select.form-control(type="text" placeholder="Seleccione el banco")
                            option(value="1") Interbank
                            option(value="2") Banco continental
                            option(value="3") Banco de la nación
                            option(value="4") Scotiabank
                            option(value="5") Caja Huancayo
                            option(value="6") BCP 
                        input.form-control(type="text" placeholder="Ingrese su banco")
                    .form-group
                        label Cuenta bancaria
                        input.form-control(type="text" placeholder="Ingrese su cuenta")
                    .form-group
                        label Categoría
                        select.form-control(type="text" placeholder="Seleccione la categoría")
                            option(value="1") Básica
                            option(value="1") Intermedio
                            option(value="1") Avanzado
                    input.btn.btn-primary.btn-block(type="button", value="Ingresar")
br
