.container
    .row
        .offset-md-4.offset-lg-3.col-sm-12.col-md-4.col-lg-6
            .card.bg-light
                .card-body
                    h5.card-tittle.text-center Acceso
                    .form-group
                        label Usuario
                        input.form-control(type="text" placeholder="Ingrese su usuario")
                    .form-group
                        label Contraseña
                        input.form-control(type="password" placeholder="Ingrese su usuario")
                    input.btn.btn-primary.btn-block(type="button", value="Ingresar")
